ion-buttons[slot="end"] {
	min-width: 40px;
}
.card-player {
	width: 90%;
	margin: auto;
	// padding: 0;
	align-items: end;
	border-radius: 7px;
	position: relative;
	margin-bottom: 10px;
	background: var(--branco);
	// justify-content: space-between;
	box-shadow: 0px 0 3px 1px var(--gray);
	&.not-visible {
		display: none;
		--background: var(--midgray) !important;
		background: var(--midgray) !important;
	}
	ion-avatar {
		bottom: 0;
		margin: 0;
		left: -15px;
		width: 60px;
		height: 87%;
		position: absolute;
		--border-radius: 0;
		img {
			display: block;
			object-fit: contain;
		}
	}
	.player-data {
		width: 100%;
		padding-left: 50px;
		.nome-jogador {
			margin: 0;
			width: 100%;
			font-size: 18px;
			font-weight: 700;
		}
		.posicao-jogador {
			margin: 0;
			width: 100%;
			font-size: 12px;
			color: var(--midgray);
			ion-icon {
				margin-right: 8px;
				font-size: 14px;
				display: inline-block;
				vertical-align: text-top;
				color: var(--midpgray);
			}
		}
		.little-card {
			margin: 0;
			width: 100%;
			font-size: 12px;
			color: var(--gray);
		}
	}
	.action-section {
		height: 100%;
		padding-right: 10px;
		.btn-action-team {
			min-width: 48px;
			font-size: 20px;
			min-height: 48px;
			border-radius: 7px;
			color: var(--branco);
			transition: all 250ms linear;
			&.contratar {
				background: green;
				--background: green;
			}
			&.vender {
				background: var(--magenta);
				--background: var(--magenta);
			}
			&[disabled] {
				background: var(--midgray);
				--background: var(--midgray);
			}
		}
	}
}