:host, :root {
   --branco: #ffffff;
   --offwhite: #f9f9f9;
   --magenta: #d950e5;
   --lightgray: #ececec;
   --gray: #c4c4c4;
   --midgray: #a7a7a7;
   --deepgray: #343434;
   --preto: #000000;
   --azul: #1b77f3;
   --facebook: #1877f2;
   --vermelho: #cf3c3f;
   --bgpadrao: var(--offwhite);
   --ion-background-color: var(--bgpadrao);
}
.page-login {
   display: flex;
   min-width: 100vw;
   min-height: 100vh;
   position: relative;
   align-items: center;
   flex-direction: column;
   // --background: var(--bgpadrao);
   // background: var(--bgpadrao);

   ion-button.notification-btn {
      // width: 48px;
      // float: right;
      // height: 48px;
      // margin: 15px;
      width: clamp(34px, 14vw, 48px);
      height: clamp(34px, 14vw, 48px);
      top: 15px;
      right: 15px;
      position: absolute;
      transform: rotate(45deg);
      --background: var(--magenta);
      &[disabled] {
         color: gray;
         --border-width: 1px;
         --border-style: solid;
         --border-color: gray;
         --background: var(--branco);
      }
      ion-icon {
         transform: rotate(-45deg);
      }
   }

   .logo {
     // width: 120px;
     width: clamp(64px, 13vh, 120px);
     display: block;
     margin: 2.4vh auto 0;
   }
   .login {
      padding: clamp(15px, 5%, 78px);
      form {
         margin: auto;
         max-width: 430px;
      }
      .login_title {
         width: 100%;
         margin-top: 0;
         font-weight: bold;
         font-size: 1.5em;
         color: var(--deepgray);
         text-align: center;
      }
      .input_wrapper {
         position: relative;
         margin-bottom: 15px;
         --border-width: 0;
         --padding-start: 0px !important;
         --inner-padding-end: 0px !important;
         --highlight-background: transparent !important;
         // &.item-interactive.ion-invalid {
         //    ion-input {
         //       border-width: 1px;
         //       border-style: solid;
         //       border-color: var(--highlight-color-invalid);
         //    }
         // }
         &.item-has-focus, &.item-has-value {
            .login_label {
              height: 50%;
              padding: 0 5px;
              font-size: 0.715em;

            }
            .login_input {
               border-width: 2px;
               border-style: solid;
               border-color: var(--deepgray);
            }
         }
         .login_label {
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0 15px;
            position: absolute;
            align-items: center;
            margin: 0 !important;
            transition: all 150ms linear;
         }
         .login_input {
            outline: none;
            min-width: 100%;
            font-size: 0.9em;
            min-height: 48px;
            font-weight: 700;
            border-width: 2px;
            border-radius: 5px;
            border-style: solid;
            color: var(--deepgray);
            background: var(--lightgray);
            transition: all 150ms linear;
            border-color: var(--lightgray);
         }
      }
      .login_btn {
         width: 64px;
         height: 64px;
         display: block;
         font-size: 22px;
         margin: 0px auto;
         border-width: 1px;
         color: var(--branco);
         border-style: solid;
         border-radius: 23px;
         background: var(--ion-color-danger-shade);
         border-color: var(--ion-color-danger-shade);
         transition: all 250ms linear;
         &[disabled] {
            color: var(--midgray);
            background: var(--branco);
            border-color: var(--midgray);
         }
      }
      #byautentication {
         display: flex;
         margin-bottom: 13vh;
         justify-content: space-between;
         ion-button {
            --box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            width: clamp(30px, 31%, 120px);
            &:nth-child(1) {
               --background: var(--facebook);
               --ion-color-base: var(--facebook);
            }
            &:nth-child(2) {
               --background: var(--branco);
               --ion-color-base: var(--branco);
            }
            &:nth-child(3) {
               --background: var(--preto);
               --ion-color-base: var(--preto);
            }
         }
      }
   }
   ion-label {
      display: block;
      font-weight: 700;
      text-align: center;
      font-size: 0.745em;
      color: var(--midgray);
   }
}



.modal-notification {
   p.notification-date {
      color: #bbbbbb;
      font-size: 14px;
      font-weight: 700;
   }
}