/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
* {
	--ion-font-family:'Lexend Deca';
	font-family: 'Lexend Deca', sans-serif;
}
:host, :root {
   --branco: #ffffff;
   --offwhite: #f9f9f9;
   --magenta: #d950e5;
   --lightgray: #ececec;
   --gray: #c4c4c4;
   --midgray: #a7a7a7;
   --deepgray: #343434;
   --preto: #000000;
   --azul: #1b77f3;
   --facebook: #1877f2;
   --vermelho: #cf3c3f;
   --bgpadrao: var(--offwhite);
   --ion-background-color: var(--bgpadrao);
}
.page-login {
	input.native-input.sc-ion-input-md, input.native-input.sc-ion-input-ios {
		--padding-top: 23px;
		--padding-bottom: 4px;
	}
}
// .page-desempenho {
// 	.card {
// 		.item-native {
// 			--padding-start: 0 !important;
// 			--inner-padding-end: 0 !important;
// 		}
// 	}
// }
.cl50 {
    width: calc(50% - 8px);
}
ion-alert {
	backdrop-filter: blur(5px);
	.alert-wrapper.sc-ion-alert-md {
		border-radius: 17px;
	}
	.alert-button.ion-text-center {
		.alert-button-inner.sc-ion-alert-md {
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
}

ion-popover {
	--background: #d950e5;
	--backdrop-opacity: 0.6;
	--box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
	--color: white;
	--width: 300px;
}

ion-popover ion-content {
	text-align: center;
	--background: #d950e5;
	--ion-text-color: #ffffff;
	--ion-background-color: #d950e5;
  	// --background: rgba(40, 173, 218, 0.6);
}

ion-popover::part(backdrop) {
	background-color: rgb(0, 0, 0);
}